.portal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  transition-duration: .4s;
  overflow: hidden;
  padding: 20px;
  font-family: "Avenir Next", Avenir, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  &.active {
    opacity: 1;
    .container {
      transform: translateY(0) scale(1);
    }
  }
  &.visible {
    overflow: auto !important;
  }
}

.fixedBody {

}

.container {
  margin: auto;
  position: relative;
  transition: all 0.5s;
  transform: translateY(30%) scale(.8);
  transition-timing-function: cubic-bezier(.15,1.45,.55,1);
  transition-duration: .4s;
  max-width: 100%;
}

.modal {
  position: relative;
  width: 325px;
  height: auto;
  display: inline-block;
  max-width: 100%;
  border: 0;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f7f7f9;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, .5), inset 0 1px 0 0 hsla(0, 0%, 100%, .65);
  backface-visibility: hidden;
  &.frame {
    width: 600px;
    .header {
      display: none;
    }
    .body {
      padding: 0;
    }
  }

  &.error {
    width: 400px;
    :global(.wpwl-message.wpwl-has-error){
      margin: 0;
      max-width: none;
    }
  }
}

.brand {
  margin-top: 10px;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  span {
    opacity: 0.4;
    vertical-align: middle;
  }
  a, img {
    vertical-align: middle;
    width: 50px;
    display: inline-block;
  }
  a {
    opacity: 0.4;
    margin-bottom: 2px;
  }
  &:hover a {
    opacity: 1;
  }
}

.header {
  padding: 20px 30px;
  text-align: center;
  background-color: #e8e9eb;
  border-bottom: 1px solid #d2d2d3;
}

.name {
  font-weight: 500;
  line-height: 1.3em;
  font-size: 1.5em;
  color: #000;
  margin-bottom: 5px;
}

.description {
  font-size: 1.1em;
  color: #5b5b65;
}

.body {
  position: relative;
  padding: 25px;
  box-sizing: border-box;
}


.cancelButton {
  position: absolute;
  font-size: 22px;
  line-height: 22px;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  text-align: center;
  color: #373737;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

.paymentForm {
  width: 100%;
  :global {
    .wpwl-button-pay {
      width: 100%;
    }
  }
}


@media (max-width: 768px){
  .container {
    transform: translateY(100%) scale(1);
    height: 100%;
    width: 100%;
  }
  .portal {
    padding: 0;
    background-color: #f7f7f9;
  }
  .modal {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    transition-timing-function: ease-in;
  }
  .fixedBody {
    overflow: hidden;
  }
}
