.formContainer {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.3em;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212b35;
}

:global {
  .wpwl-message.wpwl-has-error {
    color: #a94442;
    margin: 0;
  }

  .wpwl-form {
    margin: 0;
    .wpwl-button-brand {
      border: 1px solid #d9d9d9;
      background-color: #f9fafb;;
      border-radius: 3px;
      width: 100%;
      height: 70px;
      min-width: auto;
    }
  }

  .wpwl-container {
    margin: 0 !important;
    padding: 0.45em !important;
    height: auto !important;
    width: auto !important;
  }

  .wpwl-container:not(.wpwl-container-card) {
    width: 50%;
  }

  .wpwl-form-card {
    .wpwl-label {
      width: auto;
    }

    .wpwl-group {
      padding: 0.45em;
      margin: 0;
    }

    .wpwl-group-brand {
      display: none;
    }

    .wpwl-wrapper {
      width: 100%;
      text-align: left;
    }

    .wpwl-hint {
      font-size: 13px;
    }

    .wpwl-control, .wpwl-input {
      color: rgb(51, 51, 51);
      margin: 0;
      box-sizing: border-box;
      outline: none;
      height: 42px;
      -webkit-appearance: none;
      line-height: 19px;
      padding: 0 16px;
      font-size: 16px;
      background: #FFFFFF;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 3px;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color 0.1s ease, border-color 0.1s ease;
      font-smoothing: initial;
      -webkit-font-smoothing: initial;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      &:focus {
        color: rgba(0, 0, 0, 0.95);
        border-color: #85B7D9;
        border-radius: 0.28571429rem;
        background: #FFFFFF;
        box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
      }
    }

    .wpwl-brand-card {
      position: absolute;
      right: 9px;
      top: 9px;
      width: 38px;
      height: 24px;
      background-size: contain;
      background-position: center;
    }

    .wpwl-icon {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: 11px;
    }

    .wpwl-wrapper-cardNumber {
      position: relative;
    }

    .wpwl-group-submit {
      margin-bottom: 0;
      text-align: center;
    }

    .wpwl-button-pay {
      float: none;
      font-weight: 500;
      height: 42px;
      background: #1990c6;
      color: white;
      display: inline-block;
      border-radius: 3px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      position: relative;
      border: none;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &:hover, &:active {
        background: #136f99;
        color: white
      }
    }

    .wpwl-brand-MASTER {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/master-b3e9556358eab118e528bd537b2a5b8291bd33fa66a42fe85787e80352e4e383.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/master-c32dfa3399907a3e21ae77f834e052b862ad7f0b33a085ddd74d6337c868793e.svg), none
    }

    .wpwl-brand-DISCOVER {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/discover-3fabcda303997ec75319067abbfd77b8a2950da7d692b538f4dc13063a3c9d52.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/discover-c076f02bb17de06b93c754a81cdf60f5e0732653b5df3c575cd93214c1d809f9.svg), none
    }

    .wpwl-brand-VISAELECTRON {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/visaelectron-10a9f65cd1e70de7fecc3f529d5a22a5e99135d0f7e06b086f61e85f3a0f1fb4.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/visaelectron-4a70293ddb9de1392bdeae46906a10eb32647e65edd3c456f6aedd386f37aa4a.svg), none
    }

    .wpwl-brand-JCB {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/jcb-1c2e6ee9d4711fc142a455eaeed3b0933e1a7507575e1eef2317f95a13e10fdd.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/jcb-d59424e4efb1bbe2b5a1d529f593879bebe8c960b46494bb00271eed036fdbbb.svg), none
    }

    .wpwl-brand-AMEX {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/american_express-4fbb62cc9099f46b5b6613dcc37fb22915ac54e62f1373e98b1c739bedb4b914.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/american_express-b6b211368d19a429ac2d4dedf304c8622338870747b20d79d9775a0ce1d8ac63.svg), none
    }

    .wpwl-brand-VISA {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/visa-e5bb9ed6e55d7351774b2989db708125c012b93faaefd3b620aae1493ca5c76c.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/visa-104fe31176c68b0293cf54cfcee1f2ab564def635d065b0260e17e80aae139ee.svg), none
    }

    .wpwl-brand-MAESTRO {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/maestro-99a83dcd1235aec8c45531dc41bec9de11f92ecd5e9e26d96bc70e2b0667da12.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/maestro-052935eb4e2801b641bbb893d58566e1735dc3f8ff20ca12b84db9bda2358d17.svg), none
    }

    .wpwl-brand-GENERIC {
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/generic-073e5465ebcadd141f1eedbd083c91a38190ea5793cb54232e2892d3e1a06662.png);
      background-image: url(//cdn.shopify.com/s/assets/payment_icons/generic-f6769e3788047d1cae97854af2dc3445511f88c9813f8f2edda508caf8a90833.svg), none
    }
  }
}
