.formContainer {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.3em;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212b35;
}

:global {
  .wpwl-message.wpwl-has-error {
    color: #a94442;
    margin: 0;
  }

  .wpwl-container {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    width: auto !important;
  }

  .wpwl-form-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    .wpwl-label {
      width: auto;
    }

    .wpwl-group {
      padding: 0.45em;
      margin: 0;
    }

    .wpwl-group-brand {
      display: none;
    }

    .wpwl-wrapper-cardHolder {
      .wpwl-control-empty {
        width: 100%;
        &:first-child {
          margin-bottom: 0.8em;
        }
      }
    }

    .wpwl-sup-wrapper {
      margin-bottom: 0.8em;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .wpwl-group-cardNumber {
      width: 100%;
    }

    .wpwl-wrapper {
      width: 100%;
      text-align: left;
    }

    .wpwl-hint {
      font-size: 13px;
    }

    .wpwl-group-expiry, .wpwl-group-cvv {
      max-width: 50%;
    }

    input.wpwl-control, input.wpwl-input {
      -webkit-appearance: none;
    }

    .wpwl-control, .wpwl-input {
      color: rgb(51, 51, 51);
      margin: 0;
      box-sizing: border-box;
      outline: none;
      height: 42px;
      line-height: 19px;
      padding: 0 16px;
      font-size: 16px;
      background: #FFFFFF;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 3px;
      box-shadow: 0 0 0 0 transparent inset;
      transition: color 0.1s ease, border-color 0.1s ease;
      font-smoothing: initial;
      -webkit-font-smoothing: initial;
      font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
      &:focus {
        color: rgba(0, 0, 0, 0.95);
        border-color: rgb(102, 175, 233);
        border-radius: 0.28571429rem;
        background: #FFFFFF;
        box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
      }
    }

    .wpwl-brand-card {
      position: absolute;
      right: 9px;
      top: 9px;
      width: 38px;
      height: 24px;
      background-size: contain;
      background-position: center;
    }

    .wpwl-icon {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      top: 11px;
    }

    .wpwl-wrapper-cardNumber {
      position: relative;
    }

    .wpwl-group-submit {
      margin-bottom: 0;
      text-align: center;
    }

    .wpwl-button-pay {
      float: none;
      font-weight: 500;
      font-size: 16px;
      height: 42px;
      background: #00796b;
      color: white;
      display: inline-block;
      border-radius: 3px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      position: relative;
      border: none;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &:hover, &:active {
        background: #00695b;
        color: white
      }
    }

    .wpwl-brand-MASTER {
      background-image: url('../static/master.svg'), none
    }

    .wpwl-brand-DISCOVER {
      background-image: url('../static/discover.svg'), none
    }

    .wpwl-brand-VISAELECTRON {
      background-image: url('../static/visaelectron.svg'), none
    }

    .wpwl-brand-JCB {
      background-image: url('../static/jcb.svg'), none
    }

    .wpwl-brand-AMEX {
      background-image: url('../static/american_express.svg'), none
    }

    .wpwl-brand-VISA {
      background-image: url('../static/visa.svg'), none
    }

    .wpwl-brand-MAESTRO {
      background-image: url('../static/maestro.svg'), none
    }

    .wpwl-brand-GENERIC {
      background-image: url('../static/generic.svg'), none
    }
  }
}
